@font-face {
    font-family: "exo2";
    src: url("../fonts/exo2.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
   }

@font-face {
    font-family: "exo-20-bold";
    src: url("../fonts/exo-20-bold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
   }

@font-face {
    font-family: "exo-light";
    src: url("../fonts/exo-light.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
   }

*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.page-wrapper{
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
}

.wrapper-content{
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
}

.flex{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.wrap{
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.flex-between{
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.production-item{
    width: 384px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;   
    position: relative;
}

.production-item:hover{
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    -webkit-box-shadow: 0px 6px 9px 0px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 6px 9px 0px rgba(0, 0, 0, 0.1);
}

.item-long{
    width: 580px;
}

.main-navigation{
    list-style: none;
}

.mr280{
    margin-right: 280px;
}

.sub-header-h3{
    font-family: "exo2";
    font-size: 40px;
    color: #002476;
    line-height: 30px;
    margin-bottom: 25px;
}

.sub-header-h4{
    font-family: "exo2";
    color: #002476;
    font-size: 26px;
    margin: 0px 0 15px 0;
}

.item-header{
    font-family: "exo-20-bold";
    font-weight: bold;
    font-size: 16px;
    color: #002476;
    text-transform: uppercase;
    margin: 25px 0 23px 0;
    padding-left: 20px;
}

.item-text{
    font-family: "exo2";
    font-size: 18px;
    color: #575a61;
    line-height: 22px;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 25px;
}

.light{
    font-family: "exo-light";
    margin-bottom: 30px;
    color: #575a61;
    line-height: 22px;
    font-size: 18px;
}

.button-load{
    width: 210px;
    height: 70px;
    font-family: "exo2";
    font-size: 18px;
}

input[type="file"] {
    display: none;
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 8px 0px;
    cursor: pointer;
    border: none;
}

.top-info__button {
    text-align: center;
    color: #002476;
    font-size: 18px;
    padding: 12px 20px;
    border-radius: 2px;
    border: 2px solid #fb0e52;
    text-decoration: none;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    font-weight: 500;
    width: 210px;
    font-family: 'exo2'
}

.top-info__button:hover {
    color: #ffffff;
    background: #fb0e52;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.custom-form span {
    color: #fb0e52;
}

label .bottom-text{
    color: #00216b;
    font-size: 16px;
    font-family: "exo-light";
    font-weight: bold;
}

.bottom-text a{
    color: #fb0e52;
}

.bottom-button{
    margin-top: 50px;
    margin-bottom: 90px;
    width: 220px;
    height: 50px;
    font-family: "exo-light";
}

.end-text{
    font-family: 'exo2';
    color: #9f9ea3;
    font-size: 16px;
    line-height: 22px;
}

.button1{
    border: 0px;
    text-align: center;
    outline: none;
    cursor: pointer;
    color: #ffffff;
    font-size: 18px;
    text-decoration: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-weight: 500;
    border-radius: 2px;
    background: #fb0e52;
}

.item-ancor{
    text-decoration: none;
}

.go-icon{
    position: absolute;
    opacity: 0;
    top: 0;
    right: 2px;
    width: 60px;
    height: 60px;
    background: #fb0e52;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.go-long{
    right: 0;
}

.production-item:hover .go-icon{
    opacity: 1;
}

#CITY-L,
#PHONE-L{
    top: -16px;
}

.icon-go{
    display: block;
    width: 23px;
    min-width: 23px;
    max-width: 23px;
    height: 20px;
    background: url(../img/go.png) no-repeat;
    background-position: center;
}

/* forms */

.custom-form {
    position: relative;
}

.custom-form input {
    width: 434px;    
    height: 50px;
    border: 2px solid #e8e8e8;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 2px;
    outline: none;
    padding: 0px 18px;
    color: #002476;
    font-weight: 500;
    margin: 0 20px 20px 0;
}

.custom-form input + label {
    display: inline-block;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 16px;
    cursor: text;
    left: 18px;
    width: 100%;
    height: 20px;
    color: #959595;
    white-space: nowrap;
    overflow: hidden;
    padding-right: 40px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    font-family: "exo-light";
}

.bg-gray{
    background: #ebeff6;
}

.custom-form select {
    width: 434px;
    height: 50px;
    border: 2px solid #e8e8e8;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 2px;
    outline: none;
    padding: 0px 30px 0px 18px;
    font-weight: 500;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #ffffff;
    background-image: url(../img/down-mini_2.png);
    background-repeat: no-repeat;
    background-position: right 10px center;
    font-size: 16px;
}

form p{
    margin-left: -20px;
}

.al-cent{
    text-align: center;
    font-weight: 500;
    margin-bottom: 35px;
}

.textarea-form{
    width: 100%;
    max-width: 880px;
    height: 178px;
    border: 2px solid #e8e8e8;
    border-radius: 2px;
    margin-top: 23px;
    margin-bottom: 20px;
    padding-left: 15px;
    padding-top: 9px;
    font-family: "exo-light";
    font-size: 16px;
    color: #959798;
    outline: none;
}

.custom-form select:focus,
.textarea-form:focus {
    border: 0px;
    -webkit-box-shadow: 0px 1px 17px 0px rgba(0, 0, 0, 0.27);
    box-shadow: 0px 1px 17px 0px rgba(0, 0, 0, 0.27);
  }
  

.select-custom{
    margin: 0px 20px 20px 0;
}

.textarea-form::-webkit-input-placeholder{
    font-family: "exo-light";
    font-size: 16px;
    color: #959798;
}

.textarea-form::-moz-placeholder{
    font-family: "exo-light";
    font-size: 16px;
    color: #959798;
}

.textarea-form:-ms-input-placeholder{
    font-family: "exo-light";
    font-size: 16px;
    color: #959798;
}

.textarea-form::-ms-input-placeholder{
    font-family: "exo-light";
    font-size: 16px;
    color: #959798;
}

.textarea-form::placeholder{
    font-family: "exo-light";
    font-size: 16px;
    color: #959798;
}

.color-default {
    color: #959595;
    font-family: 'exo2';
}

.color-blue {
    color: #002476;
    font-family: 'exo2';
    margin: 0 20px 20px 0;
}

.number-input{
    font-family: 'exo2';
    font-size: 16px;
}

/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 50px;
  padding-top: 9px;
  cursor: pointer;
  height: 40px;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left:0; 
  top: 2px;
  width: 33px; 
  height: 33px;
  border: 1px solid #aaa;
  background: #f8f8f8;
  border-radius: 3px;
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '✔';
  position: absolute;
  top: 13px; 
  left: 10px;
  font-size: 23px;
  font-weight: bold;
  color: transparent;
  background-image: url(../img/check-mini.png);
  background-repeat: no-repeat;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}

/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

[type="checkbox"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}
/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}

[type="checkbox"]:disabled:checked + label:after {
  color: #999;
}

[type="checkbox"]:disabled + label {
  color: #aaa;
}
/* accessibility */
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
  border: 1px dotted blue;
}

.custom-form .flex label:hover:before{
  border: 1px solid #4778d9;
}

.wrapper-content .light{
    margin-bottom: 50px;
}

.swiper-container .swiper-pagination.style-pagination{
    background: #fb0e52;
    width: 123px;
    height: 30px; 
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: space-around;
}

.swiper-pagination{
    width: 123px;
    -webkit-transition: .3s opacity;
    -o-transition: .3s opacity;
    transition: .3s opacity;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    z-index: 10;
    margin-top: 20px;
    top: 226px;
}  

.swiper-pagination-bullets .swiper-pagination-bullet{
    width: 9px;
    height: 9px;
    display: inline-block;
    border-radius: 100%;
    background: #fff;
    opacity: 0.7;
} 

.swiper-pagination-bullets .swiper-pagination-bullet-active{
    width: 12px;
    height: 12.5px;
    opacity: 1;
    border-radius: 100%;
}

.swiper-container{
    width: 100%;
    height: 278px;
}

.gallery{
    padding-top: 60px;
    margin-bottom: 50px;
}

.custom-form input:focus {
    border: 0px;
    -webkit-box-shadow: 0px 1px 17px 0px rgba(0, 0, 0, 0.27);
    box-shadow: 0px 1px 17px 0px rgba(0, 0, 0, 0.27);
}

.center-pagination{
    margin-left: 530px;
}

@media screen and (max-width: 1170px){
    html{
        padding: 0 21px 0 21px;
    }
    .production-item img,
    .production-item{
        width: 100%;
        max-width: 384px;
        margin-right: 10px;
    }
    .flex-between{
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    .form-adaptive{
        -webkit-box-ordinal-group: -1;
            -ms-flex-order: -2;
                order: -2;
    }
    .wrapper-content .swiper-container .swiper-pagination{
        display: none;
    }
}

@media screen and (max-width: 946px){
    .number-input{
        margin-top: 20px;
    }
    .color-default{
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 722px){
    .mobile-form{
        -webkit-box-ordinal-group: -2;
            -ms-flex-order: -3;
                order: -3;
    }
    .button1{
    margin-right: 20px;
    }   
    .custom-file-upload{
        padding: 0px;
    }
    .custom-form{
        width: 100%;
    }
    .custom-form input,
    .custom-form select,
    .select-custom,
    .bottom-button{
        width: 100%;
    }
}
@media screen and (max-width: 500px){
    .custom-form input,
    .custom-form select{
        width: 100%;
    }
    .select-custom{
        margin-right: 0px;
    }
    .mr280{
        margin-right: 0px;
    }
    .custom-file-upload{
        margin-top: 20px;
    }
    .swiper-slide img{
        width: 100%;
        max-width: 100%;
        height: auto;
    }
    .custom-form{
        width: 100%;
    }
    .custom-form input + label{
        font-size: 13px;
    }
   .load-desc,
   .button-load{
        width: 100%;
    }
    .custom-form.mobile-form + div,
    .top-info__button,
    .custom-file-upload{
        width: 100%;
    }
    .gallery{
        padding-left: 10px;
        padding-right: 10px;
    }
    #CITY-L, 
    #PHONE-L{
        top: 0px;
    }
}
